<div class="update-container">
    <label for="firstName">First Name</label>
    <input type="text" id="firstName"placeholder="Enter your first name" />
    
    <label for="lastName">Last Name</label>
    <input type="text" id="lastName" placeholder="Enter your last name" />
    
    <label for="age">Age</label>
    <input type="number" id="age" placeholder="Enter your age" />
    
    <label for="password">Password</label>
    <input type="password" id="password" placeholder="Enter your new password" />
    
    <button (click)="update()">Update</button>
</div>
